@import 'Controls';

$buffer = 20px
.chart-container
    .btn-default
        right $buffer
        top $buffer
        position absolute
        z-index 99
    .panel-default
        width 540px
        position absolute
        right $buffer + 88px
        top $buffer
        z-index 99
