CONNECTION = {
    server: 'localhost',
    database: '<database name>',
    user: '<username>',
    password: '<password>'
}

TABLE_TEMPLATE = r'[UGSWaterChemistry].[ugswaterchemistry].[{}]'
SDE_CONNECTION = r'database_connections\\UGSWaterChemistry_DEV as ugswaterchemistry.sde'
