@import '../../dijit/themes/tundra/tundra.css'
@import '../../esri/css/esri.css'
@import '../../agrc/resources/map/BaseMap.css'
@import '../../bootstrap-css-only/css/bootstrap.css'
@import '../../dgrid/css/dgrid.css'
@import '../../ijit/resources/authentication/LoginRegister.css'
@import '../../toaster/src/resources/Toaster'
@import '../charts/resources/ChartContainer'
@import 'FilterContainer'
@import 'Grid'
@require 'vars.styl'

body,
html,
.app
    color: #444
    font-family: Arial, sans-serif
    height: 100%
    margin: 0
    overflow: hidden
    padding: 0
    width: 100%

    /* NAV BAR */
    .navbar
        background-color: $background-grey
        background-image: none
        border-color: $border-color
        min-width: 500px

    .logo
        padding: 5px 0 5px 10px

    .navbar-brand
        font-size: 28px
        padding-top: 18px

    .version
        display: inline
        font-size: 12px
        letter-spacing: 0
        padding: 0
        text-decoration: none

    .version:hover
        text-decoration: underline !important

    .logoutDiv a
        margin: 0

    /* CENTER (MAP) */
    .map-div
        bottom: $grid-height
        left: 0
        position: fixed
        right: 0
        top: 0

        .esriSimpleSliderTL
            background-color: $background-grey
            top: 75px

        .esriSimpleSliderTL,
        .esriSimpleSliderVertical .esriSimpleSliderIncrementButton
            border-color: $border-color

        .esriSimpleSliderVertical .esriSimpleSliderIncrementButton
            border-bottom-color: $border-color

        .selectorMain
            right: 10px
            top: 72px

        // fix tooltip collision with bootstrap
        .tooltip
            opacity: 1

    /* GRID */
    [data-dojo-attach-point='gridContainer']
        border-top: 1px solid $border-color
        border-width: 1px
        bottom: 0
        height: $grid-height
        left: 0
        position: fixed
        right: 0

/* GENERAL STUFF */
/* remove orange outline in chrome */
*:focus
    outline: none !important
