@import '../filters/resources/DateFilter'
@import '../filters/resources/FreeTypeFilter'
@import '../filters/resources/ListFilter'
@import '../filters/resources/ShapeFilter'

.filter-container
    position absolute
    top 20px
    left 70px
    z-index 1
    width 350px
    .navbar
        min-width 0
        margin-bottom 3px
        select
            margin-left 10px
            width 235px
    .container-fluid
        padding 0
    .panel
        margin-bottom 3px
