@require 'vars.styl'
.grid
    height 100%
    [role='tabpanel']
        height 100%
        .tab-content
            top 47px
            bottom 0
            left 0
            right 0
            position absolute
            .tab-pane, .dgrid
                height 100%
                width 100%
    button.btn-link
        padding: 10px 15px
    .nav-tabs
        margin-bottom: 5px
        padding-left: 5px
        padding-top: 5px
    .dgrid
        .dgrid-header-row
            background-color: $background-grey
        .dgrid-row-odd
            background-color: #f5f5f5
        .dgrid-cell.field-Id
            width: 0
        .dgrid-cell
            text-overflow: ellipsis
            white-space: nowrap
    [data-dojo-attach-point='clearSelectionBtnContainer'] button
        margin-right: 7px
        margin-top: 3px
