<div>
    <div data-dojo-type="dijit/layout/BorderContainer"
        data-dojo-props='gutters: false'
        class='border-container'>
        <div data-dojo-type='dijit/layout/ContentPane'
            class='center'
            data-dojo-props='region: "center", splitter: false'>
            <div class='navbar navbar-default navbar-fixed-top navbar-main'>
                <ul class="nav navbar-nav">
                    <li>
                        <img class='logo' src="app/resources/images/ugs-logo.svg">
                    </li>
                    <a class='navbar-brand exchange' href="http://www.exchangenetwork.net/">
                        <img class='logo' src="app/resources/images/exchange-network-logo.png">
                    </a>
                    <li class='navbar-brand'>
                        Utah Water Chemistry Database
                        <a data-dojo-attach-point='version' class='version' href='ChangeLog.html'></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <a href="Help.html" target="_blank">Help</a>
                    </li>
                    <li class='dropdown'>
                        <div data-dojo-attach-point='logoutDiv'></div>
                    </li>
                </ul>
            </div>
            <div data-dojo-attach-point='mapDiv' class='map-div'>
                <div data-dojo-attach-point="filterDiv"></div>
                <div data-dojo-attach-point="chartsDiv"></div>
            </div>
        </div>
        <div data-dojo-type='dijit/layout/ContentPane'
            data-dojo-props='region: "bottom", splitter: true'
            data-dojo-attach-point="gridContainer">
            <div data-dojo-attach-point="gridDiv"></div>
        </div>
    </div>
</div>
