<div>
    <p>This can take a few minutes to process...</p>
    <div class="form-inline">
        <select data-dojo-attach-point="formatSelect"
            data-dojo-attach-event='change: onFormatChange' class="form-control">
            <option value="-1">select a format...</option>
            <option value="kml">KML (stations) + CSV (results)</option>
            <option value="shapefile">Shapefile (stations) + CSV (results)</option>
            <option value="csv">CSV (stations and results)</option>
        </select>
        <button class="btn btn-primary ladda-button"
            data-style='zoom-out'
            data-dojo-attach-event='click: onClick'
            data-dojo-attach-point='btn'
            disabled>
            <span class='ladda-label'>Download</span>
        </button>
    </div>
    <div class="alert alert-info hidden"
        data-dojo-attach-point='linkContainer'>
        <a href="" data-dojo-attach-point="link">Click here to download your data</a>
    </div>
</div>
