<div>
    <div class="form-inline">
        <input type='text' class="form-control"
            placeholder='parameter...'
            data-dojo-attach-point='paramTxt'
            data-dojo-attach-event='keyup: validate, input: validate'></input>
        <select data-dojo-attach-point="typeSelect" class='form-control'
            data-dojo-attach-event='change: validate'>
            <option value="-1">select a chart type...</option>
            <option value="histogram">Histogram</option>
            <option value="histogram-log-transform">Histogram (Log Transform)</option>
            <option value="scatter">Time-series Scatter Plot</option>
        </select>
        <button class="btn btn-primary ladda-button"
            data-style='zoom-out'
            data-dojo-attach-event="click: onClick"
            data-dojo-attach-point='btn'
            disabled><span class="ladda-label">Generate Chart</span></button>
    </div>
</div>
